body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #34495e;
  color: #ecf0f1;
}

header {
  background-color: #2c3e50;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #2c3e50;
  overflow: hidden;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ecf0f1;
  background-color: inherit;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #34495e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ecf0f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #2c3e50;
}

nav:hover .dropdown-content {
  display: block;
}

main {
  padding: 20px;
  display: flex;
}

footer {
  background-color: #2c3e50;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.box {
  /* flex: 1; Each box takes up equal space */
  margin-right: 20px; /*Add some spacing between the boxes */
  padding: 20px; 
  background-color: #2c3e50;
  color: #ecf0f1;
}

.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

